In [3]:
import pandas as pd
import numpy as np

In [2]:
# stirng = object in pd

country=["India","Pakistan","USA","Nepal","Srilanka"]   # list


pd.Series(country)

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [6]:
# int

runs=[13,23,45,100]

pd.Series(runs)

0     13
1     23
2     45
3    100
dtype: int64

In [6]:
# custom index

marks=[67,56,100,89]
subject=['math','eng','bl','math']

pd.Series(marks,index=subject)

math     67
eng      56
bl      100
math     89
dtype: int64

In [7]:
#setting a name

pd.Series(marks,index=subject,name='makrs of rakib')

math     67
eng      56
bl      100
math     89
Name: makrs of rakib, dtype: int64

In [8]:
marks=pd.Series(marks,index=subject,name='marks of rakib')
marks

math     67
eng      56
bl      100
math     89
Name: marks of rakib, dtype: int64

In [4]:
# series from dict

marks={

'math' :67,
'eng':57,
    'science':89,
    'arbi':100
}

marks_series =pd.Series(marks,name='rakib ar marks')
    
marks_series

math        67
eng         57
science     89
arbi       100
Name: rakib ar marks, dtype: int64

In [15]:

# attributes

# size


marks_series.size

4

In [16]:
# dtype

marks_series.dtype

dtype('int64')

In [17]:
# name
marks_series.name

'rakib ar marks'

In [18]:
# is_unique

marks_series.is_unique

True

In [5]:
# 
marks_series.index

Index(['math', 'eng', 'science', 'arbi'], dtype='object')

In [7]:
runs.index

In [8]:
# values

marks_series.values

array([ 67,  57,  89, 100])

In [9]:
type(marks_series.values)

numpy.ndarray

In [17]:
#series using read_csv
pd.read_csv("C:/Users/RAHAT/Desktop/Pandas df_campus/subs.csv")

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [29]:
type(pd.read_csv("C:/Users/RAHAT/Desktop/Pandas df_campus/subs.csv"))

pandas.core.frame.DataFrame

In [26]:
s = pd.read_csv("C:/Users/RAHAT/Desktop/Pandas df_campus/subs.csv")
s = s.squeeze()

In [28]:
s

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [25]:
type(s)

pandas.core.series.Series

In [41]:

#

vk=pd.read_csv("C:\\Users\RAHAT\\Desktop\\Pandas df_campus\kohli_ipl.csv",index_col='match_no')

vk
type(vk)


vk=vk.squeeze()
type(vk)

pandas.core.series.Series

In [38]:
d

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [43]:
movie=pd.read_csv("C:\\Users\RAHAT\\Desktop\\Pandas df_campus\\bollywood.csv",index_col='movie')

In [45]:
movie=movie.squeeze()
movie

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object